asgiref==3.11.1
asttokens==3.0.1
autopep8==2.3.2
brotli==1.2.0
click==8.4.2
colorama==0.4.6
decorator==5.3.1
dj-database-url==3.1.2
Django==6.0.6
executing==2.2.1
gunicorn==26.0.0
h11==0.16.0
ipython==9.15.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
matplotlib-inline==0.2.2
packaging==26.2
parso==0.8.7
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg2-binary==2.9.12
pure_eval==0.2.3
pycodestyle==2.14.0
Pygments==2.20.0
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.15.1
tzdata==2026.2
uvicorn==0.49.0
wcwidth==0.8.2
whitenoise==6.12.0
