{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class=" card card-body"> 
    <h1 class=" display-1 text-center">Django APP</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, tempora? Distinctio consequatur, assumenda quaerat saepe dolorem tempore voluptatibus, quo, velit laboriosam animi cumque nam est! Rem necessitatibus aspernatur quis earum, iste aperiam dolore totam optio fugiat eos? Sed quibusdam eos, optio iusto, officiis neque exercitationem id delectus quod atque soluta odio, est vero dolorem vel? Pariatur repellat ullam autem atque vel aut, error ab odio eligendi reiciendis, expedita consequuntur enim eveniet tempora, laudantium recusandae debitis saepe voluptas quo voluptate? Nesciunt voluptatum quasi molestias nemo dolore quas asperiores voluptates quia dolorem. Ipsam, recusandae quaerat optio praesentium sunt aut blanditiis cumque et?
     <div class="text-center">
            <a class="btn btn-secondary" href="/signin">
                 Signin
            </a>   
             <a class="btn btn-dark" href="/signup">
                 Signup
            </a>  

     </div>

    </section>
</main>
{% endblock %}
